@model IEnumerable<KF_Lanches.Models.ItemPedido>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    float soma = 0.0f;
}

<h1>Pedido @ViewBag.ID</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Composição
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Valor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.consumivel.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.consumivel.composicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td>R$@item.QtdValor()</td>
            </tr>
            soma += item.QtdValor();
        }
        <tr class="text-primary">
            <th>TOTAL</th>
            <td></td>
            <td></td>
            <td>R$@soma</td>
        </tr>
    </tbody>
</table>
